name: Test

on: [push]
env:
  CARGO_TERM_COLOR: always

jobs:
  cargo-test:
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Test
        run: RUST_BACKTRACE=1 cargo test --all-features
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, macos-latest, windows-latest]
